
.pbo--bg {
    background: radial-gradient(farthest-corner at top, #ffffff, #3BF6EB, #3BBFF6);
	animation: bg 10s alternate infinite both;
}

.shape1 {
    animation: ap-1 7s alternate infinite both cubic-bezier(1,0.1,0.58,1);
    background: radial-gradient(#3BBFF6, #3BF6EB);
}
.shape2 {
    animation: ap-2 4s alternate infinite both cubic-bezier(1,0.8,-0.1,1);
    background: radial-gradient(#3BBFF6, #3BF6EB);
}

.shape3 {
    animation: ap-3 6s alternate infinite both;
    background: radial-gradient(#3BBFF6, #3BF6EB);
}

@keyframes bg {
	from {
		background-position: 50em;
		background-size: 50em;
	}
	to {
		background-position: -50em;
		background-size: 150em;
	}
}

@keyframes ap-1 {
	from {
		left: 300px;
	}
	to {
		left: 10px;
	}
}
@keyframes ap-2 {
	from {
		left: 20rem;
		top: 5rem;
	}
	to {
		left: 30rem;
		top: 20rem;
	}
}
@keyframes ap-3 {
	from {
		left: random(50) * 10 + em;
		top: random(45) * 4 + em;
	}
	to {
		left: random(95) * 4 + em;
		top: random(10) - 7 + em;
	}
}
